/* You can add global styles to this file, and also import other style files */
body
{
	background-image: url("assets/img/taxi.jpg");
	background-repeat:no-repeat;
	 background-size:cover;
}
/* MODAL STYLES
-------------------------------*/


   /* You can add global styles to this file, and also import other style files */
.fade.in {
  opacity: 1;
}
.modal .in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}